.project__card {
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 0 8px 0 rgba(#000000, 0.2);
  .project__image {
    height: 100%;
    width: 100%;
    filter: brightness(0.9);
    transition: all 0.5s;
    img {
      height: 100%;
      width: 100%;
    }
  }
  &:hover {
    .project__image {
    filter: brightness(1);
      transform: scale(1.2) rotate(3deg);
    }
    .project__text {
      translate: 0;
    }
  }

  .project__text {
    background-color: rgba(#e12353, 0.5);
    position: absolute;
    width: 100%;
    height: min(20%, 100px);
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 8px;
    translate: 0 100%;
    transition: translate 0.3s ease-in-out;
    .project__text-title {
      font-weight: 600;
      font-size: large;
      color: aliceblue;
      letter-spacing: 1px;
      margin-bottom: 2px;
    }
    .project__text-technologies {
      display: flex;
      width: 100%;
      justify-content: space-between;

      span {
        color: aliceblue;
        flex: 1;
        text-align: center;
      }
    }
  }
}
