// ---------- T i t l e ---------- //
.main__title {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-bottom: 16px;
  
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: title-animation;
  animation-timing-function: ease-out;
  
  @keyframes title-animation {
    0% {
      width: 160px;
    }
    50% {
      width: 190px;
    }
    100% {
      width: 160px;
    }
  }

  h2 {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  .main__title-left {
    background-color: var(--color-red);
    position: absolute;
    bottom: 0;
    height: 10px;
    aspect-ratio: 1/1;
    left: 0;
    transform: rotate(45deg);
  }
  .main__title-middle {
    background-color: var(--color-red);
    height: 2px;
    width: calc(100% - 10px);
    position: absolute;

    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    bottom: 4px;
  }
  .main__title-right {
    background-color: var(--color-red);
    position: absolute;
    bottom: 0;
    height: 10px;
    aspect-ratio: 1/1;
    right: 0;
    transform: rotate(45deg);
  }
}
