@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Junge&display=swap");

// global css
* {
  color: var(--color-tertiary);
  font-family: "Source Sans Pro", sans-serif;
  text-decoration: none;
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  transition: background-color 0.2s, color 0.2s;
  cursor: none;
  user-select: none;
}
// color variables
html {
  --color-red: #e12353;
  --color-blue: #29cfcd;
  --color-primary: #f6f6f6;
  --color-secondary: #ececec;
  --color-tertiary: #1d1d1d;
  --color-quaternary: #757575;

  &[dark] {
    --color-primary: #191919;
    --color-secondary: #1d1d1d;
    --color-tertiary: #ececec;
    --color-quaternary: #888888;
  }
}
// scrollbar-theme property
html {
  body::-webkit-scrollbar {
    width: 4px;
  }
  body {
    scrollbar-width: thin;
    scrollbar-color: var(--color-red) var(--color-primary);
  }
  body::-webkit-scrollbar-track {
    background: var(--color-primary);
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--color-red);
    border-radius: 4px;
  }
}
// ---------- H T M L -------------- //
html {
  overflow-x: hidden;
}
// ---------- B O D Y -------------- //
body {
  position: relative;
  background-color: var(--color-primary);
  color: var(--color-tertiary);
  opacity: 1;
  transition: opacity 0.5s;
}
// ---------- R O O T -------------- //
#root {
  width: 100%;
  position: relative;
}
// ---------- H e a d e r ---------- //
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-primary);
  box-shadow: 0 0 4px 0 rgba($color: #000000, $alpha: 0.1);
  height: calc(2 * 8px + 48px);
  z-index: 100;

  > div {
    width: min(calc(100% - 16px), calc(400px + 50%), 1600px);
    margin-left: auto;
    margin-right: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;

    .brand {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 36px;
      font-weight: 500;

      .curly-bracket {
        font-family: "Junge", serif;
        color: var(--color-red);
      }
      .brand-name {
        font-family: "Josefin Sans", sans-serif;
        & .brand-name__sub {
          font-family: "Josefin Sans", sans-serif;
          display: inline-block;
          max-width: 60px;
          transition: max-width 0.5s 0.1s, opacity 0.5s 0.2s;
        }
        &.scrolled {
          & .brand-name__sub {
            opacity: 0;
            max-width: 0;
            transition: max-width 0.5s 0.2s, opacity 0.5s 0.1s;
          }
        }
      }
    }

    nav {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);

      height: 48px;
      width: min(calc(100% - 600px), 600px);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      position: absolute;

      & ul {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        li {
          height: 100%;
          padding: 8px 0;
          display: flex;
          align-items: center;
          justify-content: center;
          .nav__item {
            font-size: large;
            font-weight: 600;
            width: 80px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            transition: color 0.5s;
            letter-spacing: 1px;
            &.nav__item-active,
            &:hover {
              color: var(--color-red);
            }
          }
        }
      }
      & .slider {
        --slider-position: 1;

        position: absolute;
        width: calc((100% / 5) * 1);
        left: calc((var(--slider-position) - 1) * (100% / 5) * 1);
        bottom: 1px;
        height: 2px;
        background-color: var(--color-red);
        transition: all 0.5s ease;
      }
    }

    .theme {
      position: relative;
      height: 40px;
      width: 80px;
      border-radius: 48px;
      background-color: var(--color-quaternary);

      .circle {
        position: absolute;
        height: 36px;
        aspect-ratio: 1/1;
        top: 2px;
        left: 2px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-primary);
        transition: all 0.8s;
        .light {
          display: block;
        }
        .dark {
          display: none;
        }
      }
    }
    .theme.dark {
      .circle {
        left: 42px;
        .light {
          display: none;
        }
        .dark {
          display: block;
        }
      }
    }
  }
}
// ---------- H o m e -------------- //
#home {
  width: min(calc(100% - 16px), calc(400px + 50%), 1600px);
  margin-left: auto;
  margin-right: auto;

  min-height: 500px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-top: 64px;

  .hero__main {
    height: min(100%, 500px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-bottom: auto;
    margin-top: auto;

    .hero__main-hey {
      background-color: var(--color-red);
      color: var(--color-primary);
      font-family: "Cairo";
      font-weight: 400;
      font-size: 3rem;
      padding: 4px 0;
    }

    .hero__main-title {
      color: var(--color-red);
      font-family: "Source Sans Pro";
      font-weight: 600;
      font-size: 6rem;
      margin: 0;
    }
    .hero__main-whoami {
      color: var(--color-quaternary);
      font-family: "Source Sans Pro";
      font-size: 2rem;
      margin: 0;
    }
    .button-resume {
      font-size: 1.2rem;
      padding: 12px 8px;
      border-radius: 4px;
      border: 2px solid var(--color-red);
      color: var(--color-red);
      background-color: unset;
      font-family: "Cairo";
      &:hover {
        background-color: var(--color-secondary);
      }
    }
  }
  .home__social {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    height: 70%;
    align-items: center;
    justify-content: space-evenly;

    a {
      height: 50px;
      width: 50px;
      transition: background-color 2s;
      border-radius: 100%;

      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        background-color: var(--color-secondary);
      }
      img {
        filter: invert(38%) sepia(71%) saturate(6707%) hue-rotate(330deg)
          brightness(89%) contrast(98%);
      }
    }
  }
  .button-scroll {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    width: 40px;
    border: 2px solid var(--color-red);
    border-radius: 50px;
    color: var(--color-red);
    path {
      color: var(--color-red);
      animation-duration: 2s;
      animation-iteration-count: infinite;
      transform-origin: bottom;
      animation-name: bounce-7;
      animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
    }
    @keyframes bounce-7 {
      0% {
        transform: scale(1, 1) translateY(7px);
      }
      10% {
        transform: scale(1.1, 0.9) translateY(7px);
      }
      30% {
        transform: scale(0.9, 1.1) translateY(-7px);
      }
      50% {
        transform: scale(1.05, 0.95) translateY(7px);
      }
      57% {
        transform: scale(1, 1) translateY(4px);
      }
      64% {
        transform: scale(1, 1) translateY(7px);
      }
      100% {
        transform: scale(1, 1) translateY(7px);
      }
    }
  }
}
// ---------- A b o u t ------------ //
#about {
  width: min(calc(100% - 16px), calc(400px + 50%), 1600px);
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 64px;
  margin-top: 64px;
  scroll-margin-top: 64px;

  .about__content {
    font-size: large;
    margin-top: 32px;
    padding: 0 24px;
    width: min(100%, 750px);
    margin-left: auto;
    margin-right: auto;

    line-height: 32px;
  }
}
// ---------- S k i l l s ---------- //
#skills {
  width: min(calc(100% - 16px), calc(400px + 50%), 1600px);
  margin-left: auto;
  margin-right: auto;

  scroll-margin-top: 64px;
  margin-bottom: 64px;
  .skills__text {
    width: min(100%, 750px);

    font-size: large;
    line-height: 32px;

    margin: 32px auto;
    padding: 0 24px;
  }
  .skills__content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    row-gap: 32px;
    column-gap: 32px;

    .skills-container {
      height: 100%;
      width: 100%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .title {
        width: 100%;
        font-weight: 400;
        text-align: center;
        font-family: "Source Sans Pro";
        background-color: var(--color-red);
        color: var(--color-primary);
        padding: 4px 16px;
      }

      .content {
        height: 200px;
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
      }
    }

    .knowledge-container {
      height: 100%;
      width: 100%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .title {
        width: 100%;
        font-weight: 400;
        text-align: center;
        font-family: "Source Sans Pro";
        background-color: var(--color-red);
        color: var(--color-primary);
        padding: 4px 16px;
      }

      .content {
        height: 200px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        grid-template-areas:
          ". . ."
          ". . .";

        .item1 {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .item2 {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .item3 {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .item4 {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .item5 {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .item6 {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .item7 {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .item8 {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        img {
          height: 60px;
          width: 60px;
          aspect-ratio: 1/1;
        }
      }
    }
  }
}
// ---------- P r o j e c t s ---------- //
#projects {
  width: min(calc(100% - 16px), calc(400px + 50%), 1600px);
  margin-left: auto;
  margin-right: auto;

  scroll-margin-top: 64px;
  margin-bottom: 64px;

  .projects__container {
    margin: 32px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 1rem;
  }
}
// ---------- C o n t a c t ---------- //
#contact {
  width: min(calc(100% - 16px), calc(400px + 50%), 1600px);
  margin-left: auto;
  margin-right: auto;

  scroll-margin-top: 64px;
  margin-bottom: 64px;

  .contact__text {
    font-size: large;
    margin-top: 32px;
    padding: 0 24px;
    width: min(100%, 750px);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 24px;
  }
  .contact__content {
    height: fit-content;
    margin: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    input,
    textarea {
      width: 100% !important;
      height: 40px;
      background-color: transparent;
      color: var(--color-tertiary);
      border: var(--color-quaternary) 1px solid;
      border-radius: 4px;
      outline: none;
      padding: 8px 16px;
    }
    label {
      position: absolute;
      left: 0;
      top: 20px;
      translate: 16px -50%;
      transition: all 0.2s;
      z-index: 40;
      background-color: var(--color-primary);
      border: 8px solid var(--color-primary);
      border-bottom: none;
      border-top: none;
      color: var(--color-quaternary);
    }
    input:focus ~ label,
    input:valid ~ label,
    textarea:focus ~ label,
    textarea:valid ~ label {
      top: 0;
      font-size: 14px;
      color: var(--color-red);
    }
    input:focus,
    textarea:focus {
      border-color: var(--color-red);
      background-color: transparent;
      color: var(--color-tertiary);
    }
    input:-webkit-autofill,
    textarea:-webkit-autofill {
      transition: background-color 5000s ease-in-out 0s,
        color 5000s ease-in-out 0s;
    }
    .contact-name_email {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: 16px;
    }
    .contact-name {
      position: relative;
      width: 100%;
    }
    .contact-email {
      position: relative;
      width: 100%;
    }
    .contact-message {
      position: relative;
      width: 100%;
      textarea {
        height: 200px;
      }
    }
    .contact-submit {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        padding: 0px 20px;
        height: 40px;
        border-radius: 4px;
        border: none;
        color: #ececec;
        background-color: var(--color-red);
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Cairo";
        font-size: larger;
        font-weight: 600;
        margin-left: auto;
        margin-right: auto;
        grid-area: submit;
        letter-spacing: 1px;
      }
    }
  }
}
// ---------- F o o t e r ---------- //
footer {
  width: 100%;
  background-color: var(--color-tertiary);
  margin-top: 32px;
  padding: 16px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;

  .footer_quote {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    p:first-child {
      color: var(--color-primary);
      font-size: x-large;
    }
    p {
      color: var(--color-primary);
      font-size: larger;
    }
  }
  .footer_copyright {
    font-family: "Cairo";
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--color-red);
  }
}

@media only screen and (max-width: 1000px) {
  header div nav {
    display: none;
  }
  #home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .hero__main {
      align-items: center;
      width: 100%;
      padding: 0 50px;
      .hero__main-hey {
        font-size: 2.5rem;
      }
      .hero__main-title {
        font-size: 5rem;
        text-align: center;
      }
      .hero__main-whoami {
        text-align: center;
      }
    }
    .home__social {
    }
    .button-scroll {
      position: static !important;
      margin: 16px 0;
      height: 80px;
    }
  }
  #skills .skills__content {
    flex-direction: column;
  }
  #contact .contact__content .contact-name_email {
    flex-direction: column;
  }
}
// ---------- C u r s o r ---------- //
html {
  #cursor {
    .cursor-outer {
      position: fixed;
      top: -50px;
      left: -50px;
      pointer-events: none;
      z-index: 100;
      transform: scale(1) translate(-50%, -50%);
      transition: all 0.1s ease, transform 0.2s;

      height: 40px;
      width: 40px;
      border-radius: 100%;
      border: 4px solid var(--color-red);
    }
    .cursor-inner {
      position: fixed;
      top: -50px;
      left: -50px;
      pointer-events: none;
      z-index: 101;
      transform: scale(1) translate(-50%, -50%);
      transition: transform 0.1s;

      height: 6px;
      width: 6px;
      border-radius: 100%;

      background-color: #ffffff;
      mix-blend-mode: difference;
    }

    &.cursor-scale {
      .cursor-outer {
        height: 60px;
        width: 60px;
        transition: height 0.2s, width 0.2s;
      }
      .cursor-inner {
      }
    }
    &.cursor-alter {
      .cursor-outer {
        animation: cursor-animation forwards ease-in-out 0.4s 0.1s;
      }
      @keyframes cursor-animation {
        50% {
          background-color: var(--color-red);
          border-width: 0px;
          height: 30px;
          width: 30px;
        }
        100% {
          background-color: var(--color-red);
          border-width: 0px;
          opacity: 0.5;
          height: 60px;
          width: 60px;
        }
      }
      .cursor-inner {
        transform: scale(0) translate(-50%, -50%);
      }
    }
  }
}
// ---------- S V G   S Y M B O L S -- //
html {
  #symbols {
    .symbols__background {
      position: absolute;
      height: 100%;
      width: 100vw;
      top: 0;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      z-index: -10;
      overflow: hidden;

      .container_child {
        display: block;
        position: relative;

        min-height: 85vmin;
        width: 100vw;
        svg {
          position: absolute;
          height: 100vmin;
          aspect-ratio: 1/1;
          top: 0;

          animation: rotate-center 120s linear infinite forwards;
          fill: var(--color-quaternary);
          opacity: 0.15;
        }

        &:nth-child(1) svg {
          right: 0;
          translate: 50% 0;
          animation-direction: normal;
        }
        &:nth-child(2) svg {
          left: 0;
          translate: -50% 0;
          animation-direction: reverse;
        }
        &:nth-child(3) svg {
          right: 0;
          translate: 50% 0;
          animation-direction: normal;
        }
        &:nth-child(4) svg {
          left: 0;
          translate: -50% 0;
          animation-direction: reverse;
        }
        &:nth-child(5) svg {
          right: 0;
          translate: 50% 0;
          animation-direction: normal;
        }
        &:nth-child(6) svg {
          left: 0;
          translate: -50% 0;
          animation-direction: reverse;
        }
        &:nth-child(7) svg {
          right: 0;
          translate: 50% 0;
          animation-direction: normal;
        }
        &:nth-child(8) svg {
          left: 0;
          translate: -50% 0;
          animation-direction: reverse;
        }
        &:nth-child(9) svg {
          right: 0;
          translate: 50% 0;
          animation-direction: normal;
        }
        &:nth-child(10) svg {
          left: 0;
          translate: -50% 0;
          animation-direction: reverse;
        }
      }
    }
    @keyframes rotate-center {
      0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
      }
      100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
      }
    }
  }
}
