@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Junge&display=swap");

// start reset
* {
  color: var(--color-tertiary);
  font-family: "Source Sans Pro", sans-serif;
  text-decoration: none;
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  transition: background-color 0.2s, color 0.2s;
  cursor: none;
}
// end reset

// start color variables
html {
  --color-red: #e12353;
  --color-blue: #29cfcd;
  --color-primary: #f6f6f6;
  --color-secondary: #ececec;
  --color-tertiary: #323232;
  --color-quaternary: #666666;

  &[data-theme="dark"] {
    --color-primary: #191919;
    --color-secondary: #323232;
    --color-tertiary: #ececec;
    --color-quaternary: #d0d0d0;
  }
}
// end color variables

// start scrollbar-theme property
html {
  body::-webkit-scrollbar {
    width: 9px;
  }
  body {
    scrollbar-width: thin;
    scrollbar-color: var(--color-red) var(--color-primary);
  }
  body::-webkit-scrollbar-track {
    background: var(--color-primary);
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--color-red);
    border-radius: 6px;
    border: 3px solid var(--color-primary);
  }
}
// end scrollbar-theme property
html {
  width: 100%;
  overflow-x: hidden;
}
body {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: var(--color-primary);
  color: var(--color-tertiary);
  font-size: medium;
  font-weight: 500;
}
#root {
  width: min(calc(100% - 32px), calc(400px + 50%));
  margin-left: auto;
  margin-right: auto;
}
// ---------- H e a d e r ---------- //
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc(2 * 8px + 48px);
  position: sticky;
  top: 0;
  background-color: var(--color-primary);
  padding: 8px 0;
  z-index: 10;

  .brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 36px;
    font-weight: 500;

    .curly-bracket {
      font-family: "Junge", serif;
      color: var(--color-red);
    }
    .brand-name {
      font-family: "Josefin Sans", sans-serif;
      & .brand-name__sub {
        font-family: "Josefin Sans", sans-serif;
        display: inline-block;
        max-width: 60px;
        transition: max-width 0.5s 0.1s, opacity 0.5s 0.2s;
      }
      &.scrolled {
        & .brand-name__sub {
          opacity: 0;
          max-width: 0;
          transition: max-width 0.5s 0.2s, opacity 0.5s 0.1s;
        }
      }
    }
  }

  nav {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);

    height: 48px;
    width: min(calc(100% - 500px), 600px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;

    & ul {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;

      .nav__item {
        font-size: large;
        font-weight: 600;
        width: 90px;
        display: inline-block;
        text-align: center;
        transition: color 0.5s;
        letter-spacing: 1px;
        &.nav__item-active,
        &:hover {
          color: var(--color-red);
        }
      }
    }
    & .slider {
      --full-width: 205;
      --slider-position: 1;

      position: absolute;
      width: calc((var(--full-width) / 5) * 1px);
      left: calc((var(--slider-position) - 1) * (var(--full-width) / 5) * 1px);
      bottom: 1px;
      height: 2px;
      background-color: var(--color-red);
      transition: all 0.5s ease;
    }
  }

  .tools {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;

    .tools__theme-light {
      height: 48px;
      width: 48px;
      border-radius: 100%;
      background-color: unset;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--color-tertiary);
      display: none;
    }

    .tools__theme-dark {
      height: 48px;
      width: 48px;
      border-radius: 100%;
      background-color: unset;
      border: none;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      color: var(--color-tertiary);
      display: none;
    }
    .theme-active {
      display: flex;
      &:hover {
        background-color: var(--color-secondary);
      }
    }
    .tools__language {
      height: 40px;
      padding: 0 20px;
      border-radius: 8px;
      border: 2px solid var(--color-red);
      color: var(--color-red);
      background-color: unset;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Cairo";
      font-size: larger;
      font-weight: 600;
      &:hover {
        background-color: var(--color-secondary);
      }
    }
  }
}
// ---------- H o m e ---------- //
#home {
  height: clamp(500px, calc(100vh - 64px), 700px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  .hero__main {
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;

    .hero__main-hey {
      background-color: var(--color-red);
      color: var(--color-primary);
      font-family: "Cairo";
      font-weight: 400;
      font-size: 3rem;
      padding: 4px 0;
    }

    .hero__main-title {
      color: var(--color-red);
      font-family: "Cairo";
      font-weight: 600;
      font-size: 6rem;
      margin: 0;
    }
    .hero__main-whoami {
      color: var(--color-quaternary);
      font-family: "Cairo";
      font-size: 2rem;
      margin: 0;
    }
    .button-resume {
      font-size: 1.2rem;
      padding: 12px 8px;
      border-radius: 8px;
      border: 2px solid var(--color-red);
      color: var(--color-red);
      background-color: unset;
      font-family: "Cairo";
      &:hover {
        background-color: var(--color-secondary);
      }
    }
  }
  .home__social {
    display: flex;
    flex-direction: column;
    height: 70%;
    align-items: center;
    justify-content: space-evenly;

    a {
      height: 50px;
      width: 50px;
      transition: background-color 2s;
      border-radius: 100%;

      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        background-color: var(--color-secondary);
      }
      img {
        filter: invert(38%) sepia(71%) saturate(6707%) hue-rotate(330deg)
          brightness(89%) contrast(98%);
      }
    }
  }
  .button-scroll {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    width: 40px;
    border: 2px solid var(--color-red);
    border-radius: 50px;
    color: var(--color-red);
    path {
      color: var(--color-red);
      animation-duration: 2s;
      animation-iteration-count: infinite;
      transform-origin: bottom;
      animation-name: bounce-7;
      animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
    }
    @keyframes bounce-7 {
      0% {
        transform: scale(1, 1) translateY(7px);
      }
      10% {
        transform: scale(1.1, 0.9) translateY(7px);
      }
      30% {
        transform: scale(0.9, 1.1) translateY(-7px);
      }
      50% {
        transform: scale(1.05, 0.95) translateY(7px);
      }
      57% {
        transform: scale(1, 1) translateY(4px);
      }
      64% {
        transform: scale(1, 1) translateY(7px);
      }
      100% {
        transform: scale(1, 1) translateY(7px);
      }
    }
  }
}
// ---------- A b o u t ---------- //
#about {
  scroll-margin-top: 64px;
  margin-top: 32px;
  // text-align: center;
  font-size: large;

  .about__content {
    padding: 32px 24px;
    width: min(100%, 750px);
    margin-left: auto;
    margin-right: auto;

    line-height: 32px;
  }
}
// ---------- S k i l l s ---------- //
#skills {
  scroll-margin-top: 64px;
  height: 500px;
}
// ---------- P r o j e c t s ---------- //
#projects {
  scroll-margin-top: 64px;
  height: 500px;
}
// ---------- C o n t a c t ---------- //
#contact {
  scroll-margin-top: 64px;
  height: 500px;
}
// ---------- F o o t e r ---------- //
footer {
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  header nav {
    display: none;
  }
  #home div.hero__main {
    .hero__main-hey {
      font-size: 2.5rem;
    }
    .hero__main-title {
      font-size: 5rem;
    }
    .hero__main-whoami {
    }
  }
  html{
    .cursor-outer {
      display: none;
    }
    .cursor-inner {
      display: none;
    }
  }
}
// ---------- C u r s o r ---------- //
html{
  .cursor-outer {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 999;
    transform: scale(1) translate(-50%, -50%);
    transition: transform 0.1s, translate .1s ease;
    
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: 4px solid var(--color-red);
  }
  .cursor-inner {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1000;
    transform: scale(1) translate(-50%, -50%);
    transition: transform 0.1s;
  
    height: 6px;
    width: 6px;
    border-radius: 100%;
    background-color: #ffffff;
    mix-blend-mode: difference;
  }
  .cursor-scale{
    transform: scale(2) translate(-25%, -25%);
  }
}